# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# local files
variables.env
*.env
.vercel
.keystone


.DS_Store
*.log
haters/
.next/
.build/
layout.md
*.db